.Token.BaseType {
    color: #569cd6;
}

.Token.ID, .Token.STRING.Format {
    color: #88D6FE;
}

.Token.Preprocess, .Token.HASH{
    color: #C586C0;
}

.Token.IF, .Token.ELSE, .Token.FOR, .Token.WHILE, .Token.SWITCH, .Token.CASE, .Token.DEFAULT {
    color: #C586C0;
}

.Token.SIZEOF {
    color: #569cd6;
}

.Token.HeaderName {
    color: #CE9178;
    border-bottom: 1px solid #CE9178;
}

.Token.StorageType, .Token.QualifyType,.Token.StructureType {
    color: #569cd6;
}

.Token.FunctionName.ID, .Token.FunctionCall.ID {
    color: #DCDCAA;
}

.Token.JumpStatement {
    color: #C586C0;
}

.Token.DefineName {
    color: #569cd6;
}

.Token.StructClass {
    color: #4EC9B0;
}

.Token.SEMI {
    color: white;
}

.Token.Control {
    color: #D7BA6E;
}


.Token.COMMENT {
    color: #6A9955;
}

