.Token.BaseType {
    color: #569cd6;
}

.Token.ID,
.Token.STRING.Format {
    color: #88D6FE;
}

.Token.Preprocess,
.Token.HASH {
    color: #C586C0;
}

.Token.IF,
.Token.ELSE,
.Token.FOR,
.Token.WHILE,
.Token.SWITCH,
.Token.CASE,
.Token.DEFAULT {
    color: #C586C0;
}

.Token.SIZEOF {
    color: #569cd6;
}

.Token.HeaderName {
    color: #CE9178;
    border-bottom: 1px solid #CE9178;
}

.Token.StorageType,
.Token.QualifyType,
.Token.StructureType,
.Token.EnumSpecifier,
.Token.DefineName {
    color: #569cd6;
}

.Token.FunctionName.ID,
.Token.FunctionCall.ID {
    color: #DCDCAA;
}

.Token.FunctionP.ID {
    color: #88D6FE;
}

.Token.JumpStatement {
    color: #C586C0;
}

.Token.Enumerator.ID {
    color: #4FC1FF;
}

.Token.StructClass,.Token.EnumID {
    color: #4EC9B0;
}

.Token.SEMI,
.Token.LT,
.Token.GT {
    color: white;
}

.Token.Control {
    color: #D7BA6E;
}


.Token.COMMENT {
    color: #6A9955;
}