pre[class*="language-"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.brace-depth-0 {
    color: --brace1;
}

.Token.brace-depth-1 {
    color: --brace2;
}

.Token.brace-depth-2 {
    color: --brace3;
}

.Token.VOID,
.Token.CHAR,
.Token.SHORT,
.Token.INT,
.Token.LONG,
.Token.FLOAT,
.Token.DOUBLE,
.Token.SIGNED,
.Token.UNSIGNED,
.Token._BOOL,
.Token._COMPLEX,
.Token.BOOL,
.Token.AUTO,
.Token.REGISTER,
.Token.STATIC,
.Token.EXTERN,
.Token.TYPEDEF,
.Token.CONST,
.Token.VOLATITLE,
.Token.RESTRICT,
.Token._ATOMIC,
.Token._STATIC_ASSERT,
.Token._GENERIC {
    color: --type;
}

.Token.ID {
    color: --variant;
}

.Token.NUMBER {
    color: --number;
}


.Token.BaseType {
    color: --type;
}


.Token.TRUE,
.Token.FALSE,
.Token.NULL {
    color: --type;
}

.Token.STRING,
.Token.CHARACTER {
    color: --string;
}

.Token.STRING.Format {
    color: --format;
}

.Token.Preprocess,
.Token.HASH {
    color: --define;
}

.Token.IF,
.Token.ELSE,
.Token.FOR,
.Token.WHILE,
.Token.SWITCH,
.Token.CASE,
.Token.DEFAULT {
    color: --define;
}




.Token.SIZEOF {
    color: --type;
}

.Token.HeaderName {
    color: --string;
    border-bottom: 1px solid --string;
}

.Token.StorageType,
.Token.QualifyType,
.Token.StructureType,
.Token.EnumSpecifier {
    color: --type;
}

.Token.FunctionName.ID,
.Token.FunctionCall.ID {
    color: --function;
}

.Token.MacroDefine.ID,
.Token.MarcroFunction.ID,
.Token.BACK_SLASH {
    color: --type;
}

.Token.FunctionP.ID {
    color: --variant;
}

.Token.JumpStatement {
    color: --define;
}

.Token.Enumerator.ID {
    color: --enum;
}

.Token.StructureClass,
.Token.EnumID,
.Token.Typedefine {
    color: --struct;
}

.Token.LT,
.Token.GT,
.Token.AMPERSAND,
.Token.POINTER {
    color: --operator;
}

.Token.Control {
    color: --controlchar;
}

.Token.COMMA, .Token.COLON, .Token.DOT, .Token.SEMI, .Token.GotoLabel {
    color: --punctuator;
}


.Token.COMMENT {
    color: --comment;
}