pre[class*="language-css"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ID {
    color: --string;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.NUMBER {
    color: --number;
}

.Token.KEY {
    color: --variant;
}

.Token.CLASS_NAME,
.Token.HASH_ID {
    color: --function;
}

.Token.COMMENT {
    color: --comment;
}

.Token.FUNCTION {
    color: --function;
}

.Token.COLOR {
    color: --string;
}

.Token.STRING {
    color: --string;
}