pre[class*="language-"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ADD_FILE,
.Token.SUB_FILE {
    color: --type;
}

.Token.TAG_LINE {
    color: --define;
}