pre[class*="language-"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ADD_FILE,
.Token.SUB_FILE {
    color: --type;
}

.Token.TAG_LINE {
    color: --define;
}

.Token.HighlightLine,
.Token.HighlightToken {
    background-color: --highlight;
    padding: 2px 0;
}

.Token.ADD_LINE {
    background-color: #4c5a2e;
    padding: 2px 0;
}

.Token.SUB_LINE {
    background-color: #563434;
    padding: 2px 0;
}