pre[class*="language-"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ADD_FILE,
.Token.SUB_FILE {
    color: --type;
}

.Token.TAG_LINE {
    color: --define;
}

.Token.HighlightLine {
    background-color: --highlight;
    padding: 2px 0;
}

.Token.ADD_LINE {
    background-color: #033a16;
    color: #aff5b4;
}

.Token.SUB_LINE {
    background-color: #67060c;
    color: #fad2d0;
}