pre[class*="language-lua"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.STR {
    color: --string;
}

.Token.STR.Format {
    color: --format;
}

.Token.AttributeType.ID {
    color: --string;
}

.Token.Attribute.LANGLE_BRACE,
.Token.Attribute.RANGLE_BRACE {
    color: --punctuator;
}


.Token.Control {
    color: --controlchar;
}

.Token.Keyword {
    color: --define;
}

.Token.LOCAL {
    color: --type;
}

.Token.ID {
    color: --variant;
}

.Token.FunctionName.ID,
.Token.FunctionCall.ID {
    color: --function;
}

.Token.Field.ID,
.Token.TableKey {
    color: --struct;
}

.Token.TRUE,
.Token.FALSE,
.Token.NIL {
    color: --type;
}

.Token.AND,
.Token.NOT,
.Token.OR {
    color: --punctuator;
}

.Token.COLON,
.Token.DOUBLE_COLON {
    color: --type;
}

.Token.COMMENT {
    color: --comment;
}

.Token.NUMBER {
    color: --number;
}