pre[class*="language-makefile"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.NUMBER {
    color: --number;
}

.Token.TAB {
    tab-size: 4;
}

.Token.DOLLAR {
    color: --string;
}
.Token.ID {
    color: --variant;
}

.Token.COMMENT {
    color: --comment;
}

.Token.Variable {
    color: --type;
}

.Token.Mission {
    color: --function;
}

.Token.PATH_SLASH {
    color: --punctuator;
}

.Token.AUTO_VARIABLE {
    color: --type;
}

.Token.Keyword {
    color: --define;
}

.Token.Url {
    color: --string;
    border-bottom: 1px solid --string;
}

.Token.AT_SIGN, .Token.MINUS {
    color: --define;
}

.Token.STRING {
    color: --string;
}

.Token.Function, .Token.Program {
    color: --function;
}

.Token.OPTION {
    color: --option;
}