pre[class*="language-python"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ID {
    color: --variant;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.COMMA,
.Token.COLON {
    color: --punctuator;
}

.Token.UnaryOp,
.Token.NUMBER {
    color: --number;
}

.Token.STR {
    color: --string;
}

.Token.COMMENT {
    color: --comment;
}


.Token.IF,
.Token.ELSE,
.Token.FOR,
.Token.WHILE,
.Token.ELIF,
.Token.RETURN,
.Token.BREAK,
.Token.IN,
.Token.FROM,
.Token.IMPORT,
.Token.CONTINUE,
.Token.TRY,
.Token.EXCEPT,
.Token.AS,
.Token.PASS,
.Token.DEL,
.Token.FINALLY,
.Token.ASSERT,
.Token.WITH,
.Token.RAISE,
.Token.YIELD {
    color: --define;
}

.Token.NONE,
.Token.IS,
.Token.TRUE,
.Token.FALSE,
.Token.NOT,
.Token.AND,
.Token.GLOBAL,
.Token.LAMBDA,
.Token.NONLOCAL,
.Token.OR {
    color: --type;
}

.Token.CLASS,
.Token.DEF {
    color: --type;
}

.Token.ClassName,
.Token.ClassInstantiation,
.Token.ImportLibName {
    color: --struct;
}

.Token.FunctionName,
.Token.FunctionCall {
    color: --function;
}

.Token.INT,
.Token.STRR,
.Token.BOOL,
.Token.SUPER {
    color: --struct;
}

.Token.EnumID {
    color: --enum;
}