pre[class*="language-rust"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ID {
    color: --variant;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.COMMENT {
    color: --comment;
}

.Token.NUMBER {
    color: --number;
}

.Token.Keyword,
.Token.MacroDefine,
.Token.MacroExpr.BANG {
    color: --type;
}

.Token.STRING,
.Token.CHARACTER {
    color: --string;
}

.Token.FunctionName,
.Token.FunctionCall,
.Token.Attribute {
    color: --function;
}

.Token.ImportLibName,
.Token.GenericType,
.Token.TypeBound,
.Token.NumberType,
.Token.ClassName,
.Token.TraitName,
.Token.Enumerator,
.Token.Typedefine, .Token.LABEL {
    color: --struct;
}

.Token.LOOP,
.Token.CONTINUE,
.Token.BREAK,
.Token.MATCH,
.Token.IF,
.Token.ELSE,
.Token.FOR,
.Token.IN {
    color: --define;
}

.Token.MutableVar,
.Token.MutableArg {
    border-bottom: 1px solid --variant;
}

.Token.MutableSelf {
    border-bottom: 1px solid --type;
}

.Token.MutableFunction {
    border-bottom: 1px solid --function;
}

.Token.MutableOp {
    border-bottom: 1px solid --operator;
}

.Token.Format,
.Token.LIFETIME,
.Token.TRUE,
.Token.FALSE,
.Token.ImplItem.FOR {
    color: --type;
}

.Token.Control {
    color: --control;
}

.Token.EnumID,
.Token.Constant {
    color: --enum;
}