pre[class*="language-rust"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.ID {
    color: --variant;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.COMMENT {
    color: --comment;
}

.Token.NUMBER {
    color: --number;
}

.Token.Keyword,
.Token.MacroDefine,
.Token.MacroExpr.BANG {
    color: --type;
}

.Token.STRING {
    color: --string;
}

.Token.FunctionName, .Token.FunctionCall {
    color: --function;
}

.Token.ImportLibName {
    color: --struct;
}

.Token.LOOP, .Token.CONTINUE, .Token.BREAK, .Token.MATCH {
    color: --define;
}