pre[class*="language-shell"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.BraceDepth-0 {
    color: --punctuator;
}

.Token.BraceDepth-1 {
    color: --punctuator;
}

.Token.BraceDepth-2 {
    color: --punctuator;
}

.Token.HighlightLine,
.Token.HighlightToken {
    background-color: --highlight;
    padding: 2px 0;
}

.Token.Program,
.Token.Function,
.Token.BACK_SLASH {
    color: --function;
}


.Token.STRING {
    color: --string;
}

.Token.NUMBER {
    color: --number;
}

.Token.COMMENT {
    color: --comment;
}

.Token.Keyword {
    color: --define;
}

.Token.OPTION {
    color: --punctuator;
}

.Token.Format {
    color: --format;
}

.Token.Control {
    color: --control;
}

.Token.Url {
    border-bottom: 1px solid --punctuator;
}

.Token.HOST_NAME {
    color: --struct;
}

.Token.DIR_PATH {
    color: --type;
}