
.Token.Path {
    color: #569cd6;
}

.Token.TableArrayHeader, .Token.TableHeader {
    color: #88D6FE;
}

.Token.depth-0 {
    color: #DBD700;
}

.Token.depth-1 {
    color: #DA70D6;
}

.Token.depth-2 {
    color: #1A9DFF;
}

.Token.Date {
    color: #A2CEA8;
}
