pre[class*="language-toml"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.String {
    color: --string;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.NUMBER {
    color: --number;
}


.Token.Path {
    color: --type;
}

.Token.TableArrayHeader.Path,
.Token.TableHeader.Path {
    color: --variant;
}

.Token.Date {
    color: --number;
}

.Token.COMMENT {
    color: --comment;
}