
.Token.Path {
    color: #569cd6;
}

.Token.TableArrayHeader.Path, .Token.TableHeader.Path {
    color: #88D6FE;
}

.Token.Date {
    color: #A2CEA8;
}

.Token.COMMENT {
    color: #6A9955;
}