pre[class*="language-xml"] {
    background: --background;
}

.Token {
    color: --punctuator;
}

.Token.String {
    color: --string;
}

.Token.BraceDepth-0 {
    color: --brace1;
}

.Token.BraceDepth-1 {
    color: --brace2;
}

.Token.BraceDepth-2 {
    color: --brace3;
}

.Token.NUMBER {
    color: --number;
}

.Token.Tag,
.Token.Prolog {
    color: --type;
}

.Token.Attribute.NAME {
    color: --variant;
}


.Token.COMMENT {
    color: --comment;
}