pre[class*="language-toml"] {
    background: #1f1f1f;
}

pre[class*="language-toml"] .Token {
    color: #C1CCCC;
}

pre[class*="language-toml"] .Token.String {
    color: #CE9178;
}

pre[class*="language-toml"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-toml"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-toml"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-toml"] .Token.NUMBER {
    color: #A2CEA8;
}


pre[class*="language-toml"] .Token.Path {
    color: #569cd6;
}

pre[class*="language-toml"] .Token.TableArrayHeader.Path,
pre[class*="language-toml"] .Token.TableHeader.Path {
    color: #88D6FE;
}

pre[class*="language-toml"] .Token.Date {
    color: #A2CEA8;
}

pre[class*="language-toml"] .Token.COMMENT {
    color: #6A9955;
}
pre[class*="language-toml"] .Token.Keyword {
    color: #327ED0;
}