pre[class*="language-verilog"] {
    background: #1f1f1f;
}

pre[class*="language-verilog"] .Token {
    color: #C1CCCC;
}

pre[class*="language-verilog"] .Token.ID {
    color: #88D6FE;
}

pre[class*="language-verilog"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-verilog"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-verilog"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-verilog"] .Token.Keyword {
    color: #569cd6;
}

pre[class*="language-verilog"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-verilog"] .Token.ModuleName,
pre[class*="language-verilog"] .Token.DefinedModule,
pre[class*="language-verilog"] .Token.WIRE, pre[class*="language-verilog"] .Token.REG, pre[class*="language-verilog"] .Token.INTEGER, pre[class*="language-verilog"] .Token.GENVAR {
    color: #4EC9B0;
}


pre[class*="language-verilog"] .Token.MODULE,
pre[class*="language-verilog"] .Token.ENDMODULE {
    color: #C586C0;
}

pre[class*="language-verilog"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-verilog"] .Token.STAR, pre[class*="language-verilog"] .Token.BitWidth, pre[class*="language-verilog"] .Token.INPUT, pre[class*="language-verilog"] .Token.OUTPUT {
    color: #569cd6;
}

pre[class*="language-verilog"] .Token.PortName, pre[class*="language-verilog"] .Token.SYSTEM_ID {
    color: #DCDCAA;
}

pre[class*="language-verilog"] .Token.ALWAYS,
pre[class*="language-verilog"] .Token.BEGIN,
pre[class*="language-verilog"] .Token.END,
pre[class*="language-verilog"] .Token.CASE,pre[class*="language-verilog"] .Token.CASEZ, pre[class*="language-verilog"] .Token.CASEX,
pre[class*="language-verilog"] .Token.ENDCASE, pre[class*="language-verilog"] .Token.IF, pre[class*="language-verilog"] .Token.ELSE, pre[class*="language-verilog"] .Token.DEFAULT, pre[class*="language-verilog"] .Token.GENERATE, pre[class*="language-verilog"] .Token.ENDGENERATE {
    color: #C586C0;
}

pre[class*="language-verilog"] .Token.EnumID {
    color: #4FC1FF;
}